[xdebug]
zend_extension=xdebug.so

xdebug.default_enable=0
xdebug.idekey={{ idekey }}
xdebug.remote_enable=1
xdebug.remote_handler=dbgp
xdebug.remote_host={{remote_host}}
xdebug.remote_port=9000
xdebug.remote_autostart=1